.nepal1 {
  background: #de6161;
}

.nepal2 {
  background: #2657eb;
}

.bora-bora1 {
  background: #2bc0e4;
}

.bora-bora2 {
  background: #eaecc6;
}

.venice-blue1 {
  background: #085078;
}

.venice-blue2 {
background: #85D8CE;
}

.electric-violet1 {
  background: #4776E6;
}

.electric-violet2 {
background: #8E54E9;
}

.kashmir1 {
  background: #614385;
}

.kashmir2 {
background: #516395;
}

.mirage1 {
  background: #16222A;
}

.mirage2 {
background: #3A6073;
}

.juicy-orange1 {
  background: #FF8008;
}

.juicy-orange2 {
background: #FFC837;
}

.mojito1 {
  background: #1D976C;
}

.mojito2 {
background: #93F9B9;
}

.cherry1 {
  background: #EB3349;
}

.cherry2 {
background: #F45C43;
}

.pinky1 {
  background: #DD5E89;
}

.pinky2 {
background: #F7BB97;
}

.sea-weed1 {
  background: #4CB8C4;
}

.sea-weed2 {
background: #3CD3AD;
}


.purple-paradise1 {
  background: #1D2B64;
}

.purple-paradise2 {
background: #F8CDDA;
}

.sunrise1 {
  background: #FF512F;
}

.sunrise2 {
background: #F09819;
}

.aqua-marine1 {
  background: #1A2980;
}

.aqua-marine2 {
background: #26D0CE;
}

.aubergine1 {
  background: #AA076B;
}

.aubergine2 {
background: #61045F;
}

.bloody-mary1 {
  background: #FF512F;
}

.bloody-mary2 {
background: #DD2476;
}

.mango-pulp1 {
  background: #F09819;
}

.mango-pulp2 {
background: #EDDE5D;
}

.rose-water1 {
  background: #E55D87;
}

.rose-water2 {
background: #5FC3E4;
}


.lemon-twist1 {
  background: #3CA55C;
}

.lemon-twist2 {
background: #B5AC49;
}

.emerald-water1 {
  background: #348F50;
}

.emerald-water2 {
background: #56B4D3;
}

.intuitive-purple1 {
  background: #DA22FF;
}

.intuitive-purple2 {
background: #9733EE;
}

.green-beach1 {
  background: #02AAB0;
}

.green-beach2 {
background: #00CDAC;
}

.harmonic-energy1 {
  background: #16A085;
}

.harmonic-energy2 {
background: #F4D03F;
        
}

.nimvelo1 {
  background: #314755;
}

.nimvelo2 {
background: #26a0da;
}

.sea-blue1 {
  background: #2b5876;
}

.sea-blue2 {
background: #4e4376;
}

.celestial1 {
  background: #C33764;
}

.celestial2 {
background: #1D2671;
}

.learning-and-leading1 {
  background: #F7971E;
}

.learning-and-leading2 {
background: #FFD200;
}

.pacific-dream1 {
  background: #34e89e;
}

.pacific-dream2 {
background: #0f3443;
}

.venice1 {
  background: #6190E8;
}

.venice2 {
background: #A7BFE8;
}

.orca1 {
  background: #44A08D;
}

.orca2 {
background: #093637;
}

.love-and-liberty1 {
  background: #200122;
}

.love-and-liberty2 {
background: #6f0000;
}

.very-blue1 {
  background: #0575E6;
}

.very-blue2 {
background: #021B79;
}

.can-you-feel-the-love-tonight1 {
  background: #4568DC;
}

.can-you-feel-the-love-tonight2 {
background: #B06AB3;
}

.the-blue-lagoon1 {
  background: #43C6AC;
}

.the-blue-lagoon2 {
background: #191654;
}

.under-the-lake1 {
  background: #093028;
}

.under-the-lake2 {
background: #237A57;
}

.honey-dew1 {
  background: #43C6AC;
}

.honey-dew2 {
background: #F8FFAE;
}

.easymed1 {
  background: #DCE35B;
}

.easymed2 {
background: #45B649;
}

.vice-city1 {
  background: #3494E6;
}

.vice-city2 {
background: #EC6EAD;
}

.mild1 {
  background: #67B26F;
}

.mild2 {
background: #4ca2cd;
}

.dawn1 {
  background: #F3904F;
}

.dawn2 {
background: #3B4371;
}

.ibiza-sunset1 {
  background: #ee0979;
}

.ibiza-sunset2 {
background: #ff6a00;
}

.eighties-purple1 {
  background: #41295a;
}

.eighties-purple2 {
background: #2F0743;
}

.brady-brady-fun-fun1 {
  background: #00c3ff;
}

.brady-brady-fun-fun-2 {
background: #ffff1c;
        
}

.cosmic-fusion1 {

background: #ff00cc;
}

.cosmic-fusion2 {
background: #333399;
}

.love-couple1 {
  background: #3a6186;
}

.love-couple2 {
background: #89253e;
}

.sherbert1 {
  background: #f79d00;
}

.sherbert2 {
background: #64f38c;
}

.lush1 {
  background: #56ab2f;
}

.lush2 {
background: #a8e063;
}

.frost1 {
  background: #000428;
}

.frost2 {
background: #004e92;
}

.mauve1 {
  background: #42275a;
}

.mauve2 {
background: #734b6d;
        
}

.deep-sea-space1 {
  background: #2C3E50;
}

.deep-sea-space2 {
background: #4CA1AF;
}

.grapefruit-sunset1 {
  background: #e96443;
}

.grapefruit-sunset2 {
background: #904e95;
        
}

.solid-vault1 {
  background: #3a7bd5;
}

.solid-vault2 {
background: #3a6073;
}

.sweet-morning1 {
  background: #FF5F6D;
}

.sweet-morning2 {
background: #FFC371;
        
}

.transfile1 {
  background: #16BFFD;
}

.transfile2 {
background: #CB3066;
}

.deep-space1 {
  background: #000000;
}

.deep-space2 {
background: #434343;
        
}

.suzy1 {
  background: #834d9b;
}

.suzy2 {
background: #d04ed6;
}

.purplin1 {
  background: #6a3093;
}

.purplin2 {
background: #a044ff;
        
}

.inbox1 {
  background: #457fca;
}

.inbox2 {
background: #5691c8;
}

.blush1 {
  background: #B24592;
}

.blush2 {
background: #F15F79;
        
}

.little-leaf1 {
  background: #76b852;
}

.little-leaf2 {
background: #8DC26F;
}

.master-card1 {
background: #f46b45;
}

.master-card2 {
background: #eea849;
}

.passion1 {
  background: #e53935;
}

.passion2 {
background: #e35d5b;
        
}

.timber1 {
  background: #fc00ff;
}

.timber2 {
background: #00dbde;
}

.turquoise-flow1 {
  background: #136a8a;
}

.turquoise-flow2 {
background: #267871;
}

.endless-river1 {
  background: #43cea2;
}

.endless-river2 {
background: #185a9d;
}

.purple-bliss1 {
  background: #360033;
}

.purple-bliss2 {
background: #0b8793;
        
}

.crazy-orange1 {
  background: #D38312;
}

.crazy-orange2 {
background: #A83279;
}

.amethyst1 {
  background: #9D50BB;
}

.amethyst2 {
background: #6E48AA;
}

.dance-to-forget1 {
  background: #FF4E50;
}

.dance-to-forget2 {
background: #F9D423;
}

.reef1 {
  background: #00d2ff;
}

.reef2 {
background: #3a7bd5;
}

.aqualicious1 {
  
background: #50C9C3;
}

.aqualicious2 {
background: #96DEDA;
}


.blurry-beach1 {
  background: #d53369;
}

.blurry-beach2 {
background: #cbad6d;
}

.namn1 {
  background: #a73737;
}

.namn2 {
background: #7a2828;
}

.day-tripper1 {
  background: #f857a6;
}

.day-tripper2 {
background: #ff5858;
}

.army1 {
  background: #414d0b;
}

.army2 {
background: #727a17;
}

